.h3 {
  font-size: 2rem;
  margin: 10px 0;
}

.total {
  margin-top: 1rem;
}

.title {
  display: inline-block;
  width: 100px;
  font-weight: bold;
  margin-bottom: 5px;
}

.actions {
  display: flex;
  justify-content: center;
}

.actions button {
  border-color: #5a1a01;
  color: #5a1a01;
  background-color: white;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0.7rem;
  border-radius: 30px;
  margin: 10px 0;
  margin-right: 50px;
}

.actions button:hover,
.actions button:active {
  font-size: 1.2rem;
  background-color: #5a1a01;
  border: none;
  color: white;
}
