.h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.cartitems {
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.total {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.spans {
  margin-left: 50%;
}

.title {
  display: inline-block;
  width: 200px;
  font-weight: bold;
  margin-bottom: 5px;
}

.actions {
  display: flex;
  justify-content: center;
}

.actions button {
  border-color: #5a1a01;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 30px;
  margin: 10px 0;
  margin-right: 5%;
}

.close {
  color: #5a1a01;
  background-color: white;
}
.error {
  color: red;
  margin-top: 1rem;
}

.feedback-close {
  display: inline-block;
  border-color: #5a1a01;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 30px;
  margin: 10px 0;
  margin-left: 45%;
  color: #5a1a01;
  background-color: white;
}

.order {
  background-color: #5a1a01;
  border: none;
  color: white;
}

.actions button:hover,
.actions button:active {
  font-size: 1.2rem;
  background-color: #5a1a01;
  border: none;
  color: white;
}

@media screen and (max-width: 768px) {
  .h3 {
    font-size: 1.2rem;
    margin: 5px 0;
  }
  .total {
    margin: 0;
    margin-bottom: 5px;
  }
  .spans {
    margin-left: 0%;
  }
}
